@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="form1" runat="server">
    <div class="container">
        <div class="row padding-for-nav" id="home">
            <div class="col-lg-12">
                <h1>THIS IS SECTION HOME</h1>
            </div>
        </div>
        <div class="row padding-for-nav" id="musico">
            <div class="col-lg-12">
                <h1>THIS IS SECTION ABOUT</h1>
            </div>
        </div>
        <div class="row padding-for-nav" id="ouvinte">
            <div class="col-lg-12">
                <h1>THIS IS SECTION SERVICES</h1>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <script src="Scripts/binarytheme.js"></script>
    </form>
