@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="form1" runat="server">
    <div class="container">
        <div class="row padding-for-nav" id="home">
            <div class="col-lg-12">
                <h1>De Músico Independente</h1>
                <h1>Para Músicos Independentes</h1>
                <h3>Essa é uma plataforma criada exclusivamente para que músicos independentes divulguem e vendam suas músicas.</h3>
            </div>
        </div>
        <div class="row padding-for-nav" id="musico">
            <div class="col-lg-12">
                <h1>Vantagens para músicos</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/money.png" alt="Money! Money! Money!" style="width: 80px; height: 80px;">
                        <h2>Ganhe dinheiro!</h2>
                        <p>Ganhe dinheiro vendendo suas músicas, para os nossos usuários. Assim eles poderão ouvir as músicas em nosso sistema, fazer o download ou compartilhar com seus amigos</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/user_group_new.png" alt="Pessoas conheceram seu trabalho." style="width: 80px; height: 80px;">
                        <h2>Ganhe Fãs</h2>
                        <p>Ao utilizar o nosso sistema, pessoas estarão procurando por músicas de outros artistas que fazem músicas parecidas com a sua, isso é uma ótima oportunidade para ganhar novos fãs.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/music.png" alt="Traga sua música" style="width: 80px; height: 80px;">
                        <h2>Mostre sua música</h2>
                        <p>Enfim, traga sua para gente, mostre em nosso site, venda ela, divulgue em nosso site, há pessoas interessadas em seu potencial.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="row padding-for-nav" id="ouvinte">
            <div class="col-lg-12">
                <h1>Vantagens para ouvintes</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/rock-band.png" alt="Conheça bandas novas" style="width: 80px; height: 80px;">
                        <h2>Conheça novos músicos!</h2>
                        <p>Isso mesmo, utilizando o nosso sistema, você irá conhecer novas bandas e músicos e poderá ouvir as músicas que eles disponibilizaram para você.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/facebook.png" alt="Registre-se com o facebook." style="width: 80px; height: 80px;">
                        <h2>Sincronize com o Facebook</h2>
                        <p>Cadastre-se no sistema de maneira fácil utilizando o seu facebook, compartilhe músicas e playlist com seus amigos.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-rounded" src="~/Images/payment-icon.png" alt="Pagamento facilitado" style="width: 80px; height: 80px;">
                        <h2>Pagamento Facilitado</h2>
                        <p>Compre músicas de seu artista favorito de maneira rápida e segura.</p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>

    <div class="row padding-for-nav" id="contato">
        <div class="row">
           <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <img class="img-rounded" src="~/Images/pedro.png" alt="fundador" />
                <h1>Pedro Henrique Nazário da Silva</h1>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://github.com/pedrro">
                    <img class="img-rounded" src="~/Images/github.png" alt="Pagamento facilitado" style="width: 80px; height: 80px;"></a>
                <h2>Github</h2>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="https://br.linkedin.com/in/pedrohenrique1">
                    <img class="img-rounded" src="~/Images/linkedin.png" alt="Pagamento facilitado" style="width: 80px; height: 80px;"></a>
                <h2>LinkedIn</h2>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <a href="https://www.facebook.com/pedrro2">
                    <img class="img-rounded" src="~/Images/facebook.png" alt="Pagamento facilitado" style="width: 80px; height: 80px;"></a>
                <h2>Facebook</h2>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
            </div>
    <!-- /.container -->
    <script src="Scripts/binarytheme.js"></script>
</form>
