@{
    ViewBag.Title = "Usuario";
}

<h2>Usuario</h2>

<ul>
    <li>Encontre os Principais músicos independentes aqui</li>
    <li>Ajude seus artistas favoritos comprando suas músicas</li>
    <li>Ouça quando quiser.</li>
    <li>Divulgue para seus amigos</li>
    
</ul>