

/*Author::after http://www.binarytheme.com
If You Like our Work Please Share Us, it will help us alot*/


body {
         background-color:#4E504E;
}

.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}


#home {
   
    background-color:#394A57;

}
#about {
    background-color:#26A066;
}

#services {
    background-color:#3E8547;
}
#contact {
    
    background-color:#EB721C;
}
#justspace {
     
    min-height:400px;
    background-color:#1F1A1A;
}
.padding-for-nav {
    padding-top:150px;
     text-align:center;
color:#ffffff;
min-height:400px;

}
